.header-container {
  display: block;
  background-color: grey;
}

.menu {
  flex: 1 1 auto;
  overflow: auto;
  background: aliceblue;
}

.content {
  flex: 1 1 auto;
  overflow: auto;
  background: lightgrey;
}
